In [1]:
inventaire = {
    "bananes": 5000,
    "pommes" : 251,
    "poires" : 343551,
    "cerises": 3485
    }
inventaire

{'bananes': 5000, 'pommes': 251, 'poires': 343551, 'cerises': 3485}

In [2]:
inventaire.values()

dict_values([5000, 251, 343551, 3485])

In [3]:
inventaire.keys()

dict_keys(['bananes', 'pommes', 'poires', 'cerises'])

In [4]:
len(inventaire)

4

In [5]:
inventaire["abricot"] = 48535
inventaire

{'bananes': 5000,
 'pommes': 251,
 'poires': 343551,
 'cerises': 3485,
 'abricot': 48535}

In [22]:
print(inventaire.get('cerises'))

3485

In [9]:
liste_1 = ('Paris', 'Londres', 'Bruxelles')
inventaire.fromkeys(liste_1, 'defaut')

{'Paris': 'defaut', 'Londres': 'defaut', 'Bruxelles': 'defaut'}

In [11]:
fruits = inventaire.pop('abricot')

In [12]:
inventaire

{'bananes': 5000, 'pommes': 251, 'poires': 343551, 'cerises': 3485}

In [13]:
fruits

48535

In [16]:
for i in inventaire:
    print(i)

bananes
pommes
poires
cerises

In [18]:
for i in inventaire.values():
    print(i)

5000
251
343551
3485

In [21]:
for i,j in inventaire.items():
    print(i,j)

bananes 5000
pommes 251
poires 343551
cerises 3485