In [11]:
villes = ['Paris', 'Berlin', 'Londres', 'Bruxelles']

In [12]:
villes.append('Dublin')

In [13]:
villes

['Paris', 'Berlin', 'Londres', 'Bruxelles', 'Dublin']

In [14]:
villes.insert(2, 'Madrid')
villes

['Paris', 'Berlin', 'Madrid', 'Londres', 'Bruxelles', 'Dublin']

In [15]:
villes_2 = ['Amsterdam', 'Rome']
villes.extend(villes_2)
villes

['Paris',
 'Berlin',
 'Madrid',
 'Londres',
 'Bruxelles',
 'Dublin',
 'Amsterdam',
 'Rome']

In [16]:
len(villes)

8

In [17]:
villes.sort(reverse = True)
villes

['Rome',
 'Paris',
 'Madrid',
 'Londres',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [19]:
liste_2 = [13, 24, 53, 34, 1, 48, 57]
liste_2.sort()
liste_2

[1, 13, 24, 34, 48, 53, 57]

In [21]:
villes[3] = 'Paris'
villes.count('Paris')

2

In [22]:
villes

['Rome',
 'Paris',
 'Madrid',
 'Paris',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [23]:
villes.pop(1)
villes

['Rome', 'Madrid', 'Paris', 'Dublin', 'Bruxelles', 'Berlin', 'Amsterdam']

In [25]:
if 'Belfast' in villes:
    print('Oui')
else:
    print('Non')

Non

In [26]:
for i in villes:
    print(i)

Rome
Madrid
Paris
Dublin
Bruxelles
Berlin
Amsterdam

In [28]:
for index, valeur in enumerate(villes):
    print(index, valeur)

0 Rome
1 Madrid
2 Paris
3 Dublin
4 Bruxelles
5 Berlin
6 Amsterdam

In [29]:
for a, b in zip(villes, liste_2):
    print(a,b)

Rome 1
Madrid 13
Paris 24
Dublin 34
Bruxelles 48
Berlin 53
Amsterdam 57